@charset "UTF-8";
/*==цвет основного текста #212121==*/
/*==вторичный цвет текста #757575==*/
/*==белый #FFFFFF==*/
/*==акцент #2196F3===*/
/*==текст с прозрачностью rgba(255, 255, 255, 0.6)==*/
/*==вторичный цвет фона #F5F4FA==*/
/*==вторичный цвет фона фильтра портфолио #EEEEEE==*/
/*==основной фон #E5E5E5==*/
/*==тёмный фон #2f303a==*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
  .section:not(.features) {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-social {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-bcgr:hover .team-social,
.team-social-bcgr:focus .team-social {
  fill: #ffffff;
}

.team-social-bcgr {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social-bcgr:hover, .team-social-bcgr:focus {
  background-color: #2196f3;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-list .footer-icon-item + .footer-icon-item {
  margin-left: 10px;
}

.fr-icon-bcgr {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* outline: 1px solid rgb(0, 255, 64);*/
}

.fr-icon-bcgr:hover, .fr-icon-bcgr:focus {
  background-color: #2196f3;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /* font-size: 28px;
      line-height: 1.18;
      letter-spacing: 0.03em;*/
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.logo > span {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

.backdrop {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  display: inline-block;
  vertical-align: middle;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*===========modal btn CONTACT FORM===========*/
}

.modal-form__modal-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 30px;
  padding: 10px 56px;
}

.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  /* font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.03em;*/
  text-align: center;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  /* background-color:tomato;*/
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-wrapper {
  margin-top: 4px;
  position: relative;
  display: block;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-message {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: #2196f3;
}

.icon-check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-form-checkbox:checked + .icon-check {
  border-color: transparent;
  background-image: url(../Image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:focus + .icon-check {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form-checkbox-policy {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-policy-link {
  color: #2196f3;
}

.modal-btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.874;
  letter-spacing: 0.06em;
  /*font-size: 16px;
    line-height: 1.874;
    letter-spacing: 0.06em;*/
  cursor: pointer;
  text-align: center;
}

.header {
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .header .site-nav,
  .header .site-contacts {
    display: none;
  }
}

.header .menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header .menu-open .mobile-menu-icon {
  width: 24px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .header .menu-open .mobile-menu-icon {
    display: none;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  max-width: 767px;
  height: 100vh;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  height: 100%;
}

.mobile-nav .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.mobile-nav .menu-close-icon {
  display: inline-block;
  vertical-align: middle;
}

.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}

.mobile-menu .link.current {
  color: #2196f3;
}

.mobile-contacts .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}

.mobile-media li {
  color: #2196f3;
}

.mobile-media li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142px;
    letter-spacing: 0.02em;
  }
  .site-nav .link.current {
    color: #2196f3;
  }
  .site-nav .link.current::after {
    position: absolute;
    display: block;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-position: center;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 92px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
  }
  .site-nav-link:hover, .site-nav-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .site-contacts {
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .site-contacts .item + .item {
    margin-top: 10px;
  }
  .site-contacts .icon-header {
    margin-right: 10px;
    fill: currentColor;
  }
  .site-contacts .mail-link:hover .icon-header,
  .site-contacts .mail-link:focus .icon-header {
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .site-contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-contacts .item + .item {
    margin-left: 30px;
    margin-top: 0;
  }
  .site-contacts .mail-link,
  .site-contacts .tel-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-contacts .mail-link:hover, .site-contacts .mail-link:focus,
  .site-contacts .tel-link:hover,
  .site-contacts .tel-link:focus {
    color: #2196f3;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  max-width: 767px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-mob-1x-min.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-mob-1x-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-mob-2x-min.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-mob-2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-tablet-1x-min.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-tablet-1x-min.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-tablet-2x-min.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-tablet-2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-desc-1x-min.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-desc-1x-min.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../Image/hero/hero-desc-2x-min.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../Image/hero/hero-desc-2x-min.jpg");
  }
}

.hero__modal-btn {
  padding: 10px 32px;
  color: #ffffff;
}

.hero__modal-btn:hover, .hero__modal-btn:focus {
  background-color: #188ce8;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
  }
}

.features-description {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-description {
    margin-right: -30px;
  }
}

.features-item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.fs-icon-bcgr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  /*outline: 1px solid red;*/
}

.fs-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .fs-icon-bcgr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    /*outline: 1px solid red;*/
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .fs-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .what-are-we-doing {
    display: none;
  }
}

.doing-img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.doing-item {
  margin-right: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.doing-overlay {
  position: relative;
}

.doing-text {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .our-team-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -30px;
  }
}

.team-item {
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
}

.img-team {
  height: auto;
  max-width: 100%;
  display: block;
}

.our-team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  text-align: center;
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social-list .list:not(:last-child) {
  margin-right: 10px;
}

.our-team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.our-team-name-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.our-team-function {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.our-clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.clients-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin-bottom: 0;
  }
}

.clients-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients-icon {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icon {
    width: 170px;
  }
}

.clients-icon:hover, .clients-icon:focus {
  border: 1px solid #2196f3;
}

.clients-logo-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover .clients-logo-icon,
.clients-icon:focus .clients-logo-icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: #2f303a;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .adress-pluse-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-address {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 232px;
  height: 127px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
    height: 132px;
  }
}

.footer-list {
  font-style: normal;
}

.footer-list .footer-item + .footer-item {
  margin-top: 8px;
}

@media screen and (min-width: 1200) {
  .footer-list .footer-item + .footer-item {
    margin-top: 9px;
  }
}

.footer-item {
  margin-top: 20px;
}

.pluse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
  height: 80px;
}

@media screen and (min-width: 1200px) {
  .pluse {
    margin-left: 70px;
  }
}

.maps-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-link,
.footer-tel-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: center;
  }
}

/*---subscribe---*/
.subscribe-footer {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .subscribe-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 156px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-footer {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    width: 570px;
    height: 86px;
  }
}

.subscribe-form {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-form-input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 1200px) {
  .subscribe-form-input {
    margin-right: 10px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscribe-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.submit-telegram {
  margin-left: 10px;
}

.subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.874;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

/*portfolio filter*/
.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio-filter > .item {
  margin-bottom: 15px;
  margin-right: 8px;
}

.filter-btn {
  -webkit-transition: color 250ms transition-timing-function, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms transition-timing-function;
  transition: color 250ms transition-timing-function, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms transition-timing-function;
  transition: color 250ms transition-timing-function, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms transition-timing-function;
  transition: color 250ms transition-timing-function, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms transition-timing-function, -webkit-box-shadow 250ms transition-timing-function;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.624;
  letter-spacing: 0.03em;
  background: #f5f4fa;
}

.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.portfolio-card-set > .item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-card-set > .item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card-set > .item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-card-set > .item:hover, .portfolio-card-set > .item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-portfolio {
  height: auto;
  max-width: 100%;
  display: block;
}

.portfolio-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.874;
  letter-spacing: 0.03em;
  color: #757575;
}

.pf-card-relative {
  position: relative;
  overflow: hidden;
}

.pf-card-overlay {
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.pf-link:hover .pf-card-overlay,
.pf-link:focus .pf-card-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */