@charset "UTF-8";
/*==цвет основного текста #212121==*/
/*==вторичный цвет текста #757575==*/
/*==белый #FFFFFF==*/
/*==акцент #2196F3===*/
/*==текст с прозрачностью rgba(255, 255, 255, 0.6)==*/
/*==вторичный цвет фона #F5F4FA==*/
/*==вторичный цвет фона фильтра портфолио #EEEEEE==*/
/*==основной фон #E5E5E5==*/
/*==тёмный фон #2f303a==*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .section:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-social {
  transition: fill var(--transition-duretion) var(--transition-timing-function);
}

.team-social-bcgr:hover .team-social,
.team-social-bcgr:focus .team-social {
  fill: var(--white-text-color);
}

.team-social-bcgr {
  transition: background-color var(--transition-duretion) var(--transition-timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social-bcgr:hover, .team-social-bcgr:focus {
  background-color: var(--accent-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list .footer-icon-item + .footer-icon-item {
  margin-left: 10px;
}

.fr-icon-bcgr {
  transition: background-color var(--transition-duretion) var(--transition-timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--backgraund-social-link);
  /* outline: 1px solid rgb(0, 255, 64);*/
}

.fr-icon-bcgr:hover, .fr-icon-bcgr:focus {
  background-color: var(--accent-color);
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /* font-size: 28px;
      line-height: 1.18;
      letter-spacing: 0.03em;*/
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  /* font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;*/
}

.logo > span {
  color: #2196f3;
}

.backdrop {
  transition: opacity var(--transition-duretion) var(--transition-timing-function), visibility var(--transition-duretion) var(--transition-timing-function);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  display: inline-block;
  vertical-align: middle;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /*===========modal btn CONTACT FORM===========*/
}

.modal-form__modal-btn {
  align-self: center;
  margin-top: 30px;
  padding: 10px 56px;
}

.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  /* font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.03em;*/
  text-align: center;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  /* background-color:tomato;*/
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

/*щоб відцентрувати іконку, яку ловить label (modal-form-field), створюємо div (modal-form-wrapper) і задаємо для нього  position: relative, а у label - видаляємо 
    .modal-form-field {
      position: relative;
    }*/
.modal-form-wrapper {
  margin-top: 4px;
  position: relative;
  display: block;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-message {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

/*
    .modal-form-checkbox {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
/* clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
    }*/
.icon-check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  /*background-color: tomato;*/
  margin-right: 8px;
}

.modal-form-checkbox:checked + .icon-check {
  border-color: transparent;
  /* background-color: violet;*/
  background-image: url(../Image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:focus + .icon-check {
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
}

/*.modal-form-checkbox:checked + .modal-form-checkbox-policy {
      color: red;
    }*/
/*
    .modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
    background-color: green; }
    .icon-check */
.modal-form-checkbox-policy {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  /* outline: 1px solid orange;*/
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-btn {
  transition: background-color var(--transition-duretion) var(--transition-timing-function);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.874;
  letter-spacing: 0.06em;
  /*font-size: 16px;
    line-height: 1.874;
    letter-spacing: 0.06em;*/
  cursor: pointer;
  text-align: center;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .site-nav,
.header .site-contacts {
  display: none;
}

.header .mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header .mobile-menu-btn .mobile-menu-icon {
  width: 24px;
  height: 16px;
}

.header .mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
}

.header .mobile-menu .close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.header .mobile-menu.is-open {
  display: none;
}

.header .site-nav-mob {
  margin-bottom: 302px;
}

.header .site-nav-mob .item:not(:last-child) {
  margin-bottom: 32px;
}

.header .site-nav-mob .item:not(:last-child) .site-nav-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.header .site-contacts-mob {
  margin-bottom: 61px;
}

.header .site-contacts-mob .item:not(:last-child) {
  margin-bottom: 32px;
}

.header .social-links-mob {
  display: flex;
}

.header .social-links-mob li {
  color: #2196f3;
}

.header .social-links-mob li:not(:last-child) {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */