// ul
.features-description {
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: -30px;
    }
}
// li
.features-item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
        flex-basis: calc((100% - 120px) / 4);
        margin-bottom: 0;
    }
}
.features-title {
    margin-top: 0;
    margin-bottom: 10px;
    @include font();
    color: $primary-text-color;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
.description {
    margin-top: 0;
    margin-bottom: 0;
    @include font($lh: 1.714);
    color: $text-color;

    @media screen and (min-width: 768px) {
    }
}
.fs-icon-bcgr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;

    background-color: $secondary-background;
    border-radius: 4px;
    /*outline: 1px solid red;*/
}

.fs-icon {
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .fs-icon-bcgr {
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        /*outline: 1px solid red;*/
        background-color: $secondary-background;
        border-radius: 4px;
    }
    .fs-icon {
        justify-content: center;
        align-items: center;
    }
}
