.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background: $background-black;

    &__logo {
        margin-bottom: 20px;
        color: $white-text-color;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.page-footer {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.adress-pluse-tablet {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }
}
.footer-address {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 232px;
    height: 127px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        text-align: left;
        height: 132px;
    }
}
.footer-list {
    font-style: normal;
}
.footer-list .footer-item + .footer-item {
    margin-top: 8px;
    @media screen and (min-width: 1200) {
        margin-top: 9px;
    }
}
.footer-item {
    margin-top: 20px;
}
.pluse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    // display: inline-block;
    outline: 1px solid red;
    width: 206px;
    height: 80px;
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}
.maps-link {
    font-family: 'Roboto', sans-serif;
    @include font($lh: 1.714);
    color: $white-text-color;
}
.footer-mail-link,
.footer-tel-link {
    @include font($lh: 1.714);
    color: $transparent-text-color;
}
.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    @include font();
    color: $white-text-color;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
}
/*---subscribe---*/
.subscribe-footer {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 156px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        width: 570px;
        height: 86px;
    }
}
.subscribe-form {
    width: 100%;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.subscribe-form-input {
    margin-bottom: 20px;
    padding: 15px 16px;

    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: #2f303a;
    //text
    color: $white-text-color;
    font-size: 14px;
    letter-spacing: 0.1em;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        margin-bottom: 0;
        width: 358px;
    }

    &::placeholder {
        @include font(16px, 1.24);
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe-form-btn {
    transition: background-color $transition-duretion
        $transition-timing-function;

    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    min-width: 200px;
    height: 50px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.submit-telegram {
    margin-left: 10px;
}
.subscribe {
    font-weight: 700;
    @include font(16px, 1.874, 0.06em);
    text-align: center;
    align-items: center;
    color: $white-text-color;
}
