.header {
    width: 100%;
    z-index: 1;
    & .site-nav,
    & .site-contacts {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    & .menu-open {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        & .mobile-menu-icon {
            width: 24px;
            height: 16px;
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        justify-content: center;
    }
}
.mobile-nav {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    max-width: 767px;
    // width: 100vw;
    height: 100vh;
    background-color: #fff;
    // width: 100%;
    @media screen and (min-width: 768px) {
        display: none;
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        height: 100%;
        width: 100vw;
    }
    .menu-close {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        cursor: pointer;
        border: none;
    }
    .menu-close-icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.mobile-nav.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.mobile-menu {
    //     margin-bottom: 302px; не ставим, разные устройства
    & .item:not(:last-child) {
        margin-bottom: 32px;
    }
    & .link {
        font-weight: 500;
        @include font(40px, 1.12, 0.02em);
    }
    & .link.current {
        color: $accent-color;
    }
}
.mobile-contacts {
    & .item:not(:last-child) {
        margin-bottom: 32px;
    }
}
.mobile-contacts__tel {
    font-weight: 500;
    @include font(34px, 1.176, 0.02em);
    color: $accent-color;
}
.mobile-contacts__mail {
    font-weight: 500;
    @include font(24px, 1.166, 0.02em);
    color: $text-color;
}
.mobile-media {
    display: flex;
    margin-top: 64px;
    font-weight: 500;
    @include font(18px, 1.222, 0.02em);

    & li {
        color: $accent-color;
    }
    & li:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
//    /*nav*/
.nav {
    @media screen {
        display: flex;
        align-items: center;
    }
}
.site-nav {
    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 88px;
        // margin-left: 93px;

        font-weight: 500;
        @include font($lsp: 0.02em);

        & .link.current {
            color: $accent-color;

            &::after {
                position: absolute;
                display: block;
                bottom: 0;
                content: '';
                width: 100%;
                height: 4px;
                background-position: center;
                background-color: $accent-color;
                border-radius: 2px;
            }
        }

        & .item + .item {
            margin-left: 50px;
        }
    }
    @media screen and (min-width: 1200px) {
        margin-left: 92px;
    }
}

.site-nav-link {
    @media screen and (min-width: 768px) {
        &:hover,
        &:focus {
            color: $accent-color;
        }
        position: relative;
        transition-property: color;
        transition-duration: $transition-duretion;
        transition-timing-function: $transition-timing-function;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $primary-text-color;
    }
}
//     SITE CONTACTS
.site-contacts {
    @media screen and (min-width: 768px) {
        margin-left: auto;
        font-weight: 500;
        @include font($lsp: 0.02em);
        color: $text-color;
        & .item + .item {
            margin-top: 10px;
        }
        .icon-header {
            margin-right: 10px;
            fill: currentColor;
        }
        .mail-link:hover .icon-header,
        .mail-link:focus .icon-header {
            fill: $accent-color;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        margin-left: auto;
        & .link {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        & .item + .item {
            margin-left: 30px;
            margin-top: 0;
        }
        .mail-link,
        .tel-link {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color $transition-duretion $transition-timing-function;

            &:hover,
            &:focus {
                color: $accent-color;
            }
        }
    }
}
//     // overflow: auto;
//     display: block;
