.header {
    width: 100%;
    z-index: 1;
    & .site-nav,
    & .site-contacts {
        display: none;
    }
    //   // mobile-menu-btn - menu-open
      & .menu-open {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        & .mobile-menu-icon {
          width: 24px;
          height: 16px;
        }
      }
}
.page-header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.mobile-nav {
    @media screen and (max-width: 767) {
        // position: absolute;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        // width: 100%;
        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 48px;
            padding-bottom: 48px;
            height: 100%;
        }
        .menu-close {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            cursor: pointer;
            //       display: flex;
            //       align-items: center;
            //       justify-content: center;
            border: none;
            // border: transparent;
        }
        .menu-close-icon {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.mobile-menu {
    //     margin-bottom: 302px; не ставим, разные устройства
    & .item:not(:last-child) {
        margin-bottom: 32px;
    }
    & .link {
        font-weight: 500;
        @include font(40px, 1.12, 0.02em);

        color: $primary-text-color;
        transition-property: color;
        transition-duration: $transition-duretion;
        transition-timing-function: $transition-timing-function;
    }
    & .link.current {
        color: $accent-color;
    }
}

.mobile-contacts__link {
    font-weight: 500;
    @include font(34px, 1.176, 0.02em);
}

//     // overflow: auto;
//     display: block;
//     padding-top: 48px;
//     padding-bottom: 48px;
//     padding-left: 25px;

//   & .mobile-contacts {
//     margin-bottom: 61px;
//     // display: none;
//     & .item:not(:last-child) {
//       margin-bottom: 32px;
//     }
//   }

//   & .mobile-media {
//     display: flex;
//     & li {
//       color: $accent-color;
//     }
//     & li:not(:last-child) {
//       margin-right: 20px;
//     }
//   }

//    .page-header {
//      /*outline: 1px solid tomato;*/
//      display: flex;
//      align-items: center;

//    }
//    /*nav*/
//    .nav {
//      display: flex;
//      align-items: center;
//    }

//    .site-nav-link {
//      position: relative;
//      transition-property: color;
//      transition-duration: var(--transition-duretion);
//      transition-timing-function: var(--transition-timing-function);

//      display: block;
//      padding-top: 32px;
//      padding-bottom: 32px;
//      color: var(--primary-text-color);
//    }
//    .site-nav .item + .item {
//      margin-left: 50px;
//    }

//    .site-nav {
//      position: relative;
//      display: flex;
//      align-items: center;
//      margin-left: 93px;

//      font-weight: 500;
//      @include font($lsp: 0.02em);
//     /* font-size: 14px;
//      line-height: 1.142;
//      letter-spacing: 0.02em;*/

//      & .link.current {
//       color: var(--accent-color);

//         &::after {
//           position: absolute;
//           display: block;
//          bottom: 0;
//          content: "";
//          width: 100%;
//          height: 4px;
//          background-position: center;
//          background-color: var(--accent-color);
//          border-radius: 2px;
//         }
//     }

//      &:hover,
//      &:focus {
//        color: var(--accent-color);
//       }
//    }
//    /* SITE CONTACTS*/
//    .site-contacts {
//      display: flex;
//      margin-left: auto;

//      & .link {
//       padding-top: 32px;
//       padding-bottom: 32px;
//      }
//    }

//    .site-contacts .item + .item {
//      margin-left: 50px;
//    }
//    .mail-link,
//    .tel-link {
//      transition: color var(--transition-duretion) var(--transition-timing-function);

//      display: flex;
//      justify-content: center;
//      align-items: center;

//      font-weight: 500;
//      @include font($lsp: 0.02em);
//      /*font-size: 14px;
//      line-height: 1.14;
//      letter-spacing: 0.02em;*/
//      color: var(--text-color);

//      &:hover,
//      &:focus {
//        color: var(--accent-color);
//      }
//    }

//   /* .tel-link:hover,
//    .tel-link:focus {
//      color: var(--accent-color);
//    }
//    .mail-link:hover,
//    .mail-link:focus {
//      color: var(--accent-color);
//    }*/
//    .icon-header {
//      margin-right: 10px;
//      fill: currentColor;
//    }
//    .mail-link:hover .icon-header,
//    .mail-link:focus .icon-header {
//      fill: var(--accent-color);
