

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/hero-sq.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
    /*outline: 1px solid greenyellow;*/

    &__modal-btn {
      padding: 10px 32px;
  
         &:hover,
         &:focus {
        background-color: #188ce8;
         }
    }
  }
  .hero-title {
    margin-top: 0;  
    margin-bottom: 30px;
  
    color: var(--white-text-color);
    font-weight: 900;
    @include font(44px, 1.364, 0.06em);
    /*font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;*/
    text-transform: uppercase;
  
    /*background-color: tomato;*/
  }
  /*
  .overlay {
    height: 600px;
    outline: 1px solid greenyellow;
  }*/