.hero {
    // padding-top: 118px;
    // padding-bottom: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    max-width: 767px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero/hero-mob-1x-min.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../image/hero/hero-mob-2x-min.jpg');
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../image/hero/hero-tablet-1x-min.jpg');
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
        (min-resolution: 192dpi) and (min-width: 768px),
        (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../image/hero/hero-tablet-2x-min.jpg');
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../image/hero/hero-desc-1x-min.jpg');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
        (min-resolution: 192dpi) and (min-width: 1200px),
        (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../image/hero/hero-desc-2x-min.jpg');
    }

    &__modal-btn {
        padding: 10px 32px;
        color: $white-text-color;

        &:hover,
        &:focus {
            background-color: #188ce8;
        }
    }
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $white-text-color;
    font-weight: 900;
    @include font(26px, 1.62);
    @media screen and (min-width: 1200px) {
        @include font(44px, 1.364, 0.06em);
    }
    text-transform: uppercase;
    // background-color: tomato;
}
// /*
//   .overlay {
//     height: 600px;
//     outline: 1px solid greenyellow;
//   }*/
