// ul
.our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}
// li
.clients-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6);
        margin-bottom: 0;
    }
}
.clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border $transition-duretion $transition-timing-function;

    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}
.clients-logo-icon {
    transition: fill $transition-duretion $transition-timing-function;

    .clients-icon:hover &,
    .clients-icon:focus & {
        fill: $accent-color;
    }
}
//   .our-clients-list .item + .item {
//       margin-left: 30px;
//   }
