/*portfolio filter*/
.portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}
.portfolio-filter > .item {
    margin-bottom: 15px;
    margin-right: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
}
// .portfolio-filter .item + .item {
//   margin-left: 8px;
// }

.filter-btn {
    transition: color $transition-duretion transition-timing-function,
        background-color $transition-duretion $transition-timing-function,
        box-shadow $transition-duretion transition-timing-function;

    display: inline-block;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    // align-items: center;

    font-weight: 500;
    @include font(16px, 1.624);
    background: $secondary-background;

    &:hover,
    &:focus {
        color: $white-text-color;
        background: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
// ul
.portfolio-card-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

    // li
    & > .item {
        // width: 100%;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 2);
            margin-right: 30px;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 3);
        }

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
}
.img-portfolio {
    height: auto;
    max-width: 100%;
    display: block;
}

//     /*.pf-link > .item {
//       transition: box-shadow $transition-duretion $transition-timing-function;
//     }*/

.portfolio-box {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.portfolio-title {
    margin-bottom: 4px;

    font-weight: 700;
    @include font(18px, 2, 0.06em);
    color: $primary-text-color;
}
.portfolio-text {
    @include font(16px, 1.874, 0.03em);
    color: $text-color;
}
.pf-card-relative {
    position: relative;
    overflow: hidden;
}
.pf-card-overlay {
    overflow: auto;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: $transition-duretion;
    transition-timing-function: $transition-timing-function;
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include font(18px, 1.556);
    color: $white-text-color;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    .pf-link:hover &,
    .pf-link:focus & {
        transform: translateY(0%);
    }
}
