.what-are-we-doing {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}
// ul
.doing-img-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}
// li
.doing-item {
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 3);
}
.doing-overlay {
    position: relative;
}
.doing-text {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    @include font();
    text-align: center;
    text-transform: uppercase;
    color: $white-text-color;
}
