

    .modal-form {
      display: flex;
      flex-direction: column;

       /*===========modal btn CONTACT FORM===========*/
     &__modal-btn {      
       align-self: center;
       margin-top: 30px;
       padding: 10px 56px;
      }
    }
    .modal-form-head {
      margin-bottom: 12px;
      font-weight: 700;
      @include font(20px, 1.15);
     /* font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.03em;*/
      text-align: center;
    }
    .modal-form-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
    
       &:focus {
         border-color: $accent-color;
         outline: none;
         }
     }
    .modal-form-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      background-size: contain;
     /* background-color:tomato;*/

      .modal-form-input:focus + & {
        fill: $accent-color;
         }
     }
    // щоб відцентрувати іконку, яку ловить label (modal-form-field), створюємо div (modal-form-wrapper) і задаємо для нього  position: relative, а у label - видаляємо 
    // .modal-form-field {
    //   position: relative;
    // }
    .modal-form-wrapper {
      margin-top: 4px;
      position: relative;
      display: block;
    }

    .modal-form-field {
      margin-bottom: 10px;
    
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.01em;
      color: $text-color;
    }
    .modal-form-message {
      margin-top: 4px;
      padding: 12px 16px;
      width: 100%;
      height: 120px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      resize: none;
        &::placeholder {
          font-size: 14px;
          line-height: 1.142;
          letter-spacing: 0.01em;
          color: rgba(117, 117, 117, 0.5);
        }
        &:focus {
          outline: none;
          border-color: $accent-color;
        }
     }
    // /*
    // .modal-form-checkbox {
    //   position: absolute !important;
    //   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    //  /* clip: rect(1px, 1px, 1px, 1px);
    //   padding: 0 !important;
    //   border: 0 !important;
    //   height: 1px !important;
    //   width: 1px !important;
    //   overflow: hidden;
    // }*/
    .icon-check {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 15px;
      border: 2px solid #000000;
      border-radius: 2px;
      // /*background-color: tomato;*/
    
      margin-right: 8px;

      .modal-form-checkbox:checked + & {
        border-color: transparent;
      //  /* background-color: violet;*/
        background-image: url(../Image/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
      }
      .modal-form-checkbox:focus + & {
        outline: 1px solid $accent-color;
        border-radius: 4px;
      }
    }

    // /*.modal-form-checkbox:checked + .modal-form-checkbox-policy {
    //   color: red;
    // }*/
    // /*
    // .modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
    // background-color: green; }
    // .icon-check */
    
    .modal-form-checkbox-policy {
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
    
    //  /* outline: 1px solid orange;*/
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: $text-color;
    }
    .modal-form-policy-link {
      color: $accent-color;
    }

