


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    @include font(24px, 1.166);    

    & > span {
      color: #2196f3;
     }
    @media screen and (min-width: 1200px) {
      @include font(26px, 1.192);    
    }
  }
