

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    padding: 40px;
    width: 528px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .icon-close {
    display: inline-block;
    vertical-align: middle;
  }