.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        &:not(.features) {
            padding-bottom: 94px;
        }
    }
}

.features {
    // padding-bottom: 0;
    // @media screen and (min-width: 768px) {
    //     padding-bottom: 60px;
    // }
    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    }
}

